*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
}

#booklist-container{
    margin: 40px;
    width: 500px;
}

.table{
    display:flex;
    justify-content:space-between;
    text-align:center;
    padding:5px;
    border: 0.5px solid black;
    
}

.table:nth-child(even) {
    background-color: #fff;
  }
  
  .table:nth-child(odd) {
    background-color: #ececec;
  }

.bt1{
    margin-top:0 auto;
    width: 40px;
    display:contents;
}


h1{
    text-align:center;
    margin:40px;
}

.remove-btn{
    border-radius: 4px;
    align-self: flex-end;
}

.buttom{
    display: flex;
    align-self: end;
}

#addBooks-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
}

