*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-heading{
    margin: 40px 0;
}

.booklist-container{
    margin: 40px 0;
    width: 500px;
    border: 1px solid;
}

.booklist-container .table{
    display:flex;
    justify-content:space-between;
    text-align:center;
    padding:5px;
}

.table:nth-child(even) {
    background-color: #fff;
}
  
.table:nth-child(odd) {
    background-color: #ececec;
}

.bt1{
    margin-top: 0;
    display: contents;
}

.addbooks-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.form-heading{
    margin: 40px 0;
}

.btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.remove-btn{
    width: 100px;
    height: 25px;
    border-radius: 4px;
    align-self: flex-end;
}

.btn-div .submit-btn{
    width: 100px;
    height: 35px;
    outline: none;
    margin-top: 5px;
}

.addbooks-form input{
    width: 100%;
    height: 45px;
    text-indent: 3px;
    outline: none;
    padding: 5px;
}

